img {
  height: 12em;
  width: 12em;
  
  margin: 5px;
  border: solid;
  
}
img:hover {
  box-shadow: 2px 2px black;

} 






/*media queries*/

@media screen and (max-width: 980px) and (min-width: 768px) {
  img {
     
    width: 150px;
    height: 150px;

}
}
 

@media screen and (max-width: 768px) and (min-width: 640px) {
  img {
     
    width: 150px;
    height: 150px;

}
}

@media screen and (max-width: 640px) and (min-width: 0px) {
  
     
     img {
     
      width: 100px;
      height: 100px;
 
}
}