img {
  height: 12em;
  width: 12em;
  border-radius: 50%;
  margin: 2px;
  
}

img.firstchild {
  margin-top: 50em;
}

h3 {
  float: right;
}



@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}


/*media queries*/

@media screen and (max-width: 980px) and (min-width: 768px) {
  img {
     
    width: 150px;
    height: 150px;

}
}
 

@media screen and (max-width: 768px) and (min-width: 640px) {
  img {
     
    width: 150px;
    height: 150px;

}
}

@media screen and (max-width: 640px) and (min-width: 0px) {
  
     
     img {
     
      width: 100px;
      height: 100px;
 
}
}